@mixin animate($name, $duration, $method, $iter-count) {
	@keyframes #{$name} {
		@content;
	}
	animation-name: $name;
	animation-duration: $duration;
	animation-timing-function: $method;
	animation-iteration-count: $iter-count;
	// @include webkit-animate(webkit-#{$name}, $duration, $method) { @content; }
}

#ai-text-type-delete-container {
	#ai-text-type-delete-text {
		font-family: var(--ai-text-type-delete-font-family);
		font-size: var(--ai-text-type-delete-font-size);
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 2px;
	}

	#ai-text-type-delete-cursor {
		display: inline-block;
		vertical-align: middle;
		margin-top: calc(-1 * var(--ai-text-type-delete-font-size) / 4);
		width: var(--ai-text-type-delete-cursor-width);
		height: var(--ai-text-type-delete-cursor-height);
		background-color: var(--ai-text-type-delete-cursor-color);
		// @include animate(cursor-blink, var(--ai-text-type-delete-cursor-blink), step-end, infinite) {
		// 	from,
		// 	to {
		// 		background-color: transparent;
		// 	}
		// 	50% {
		// 		background-color: var(--ai-text-type-delete-cursor-color);
		// 	}
		// }
	}
}
